@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=PT+Sans:wght@700&family=Roboto:wght@500&family=Yomogi&display=swap');
* {
    color: black;
    font-family: 'PT Sans', sans-serif;
    /* text-transform: uppercase; */
}

body {
    height: 100vh;
}

.app-container {
    display: none;
    height: 100%;
    grid-template-rows: 1fr 15fr 1fr;
    background-color: white;
}

.log-in-box {
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

.log-in-box input, .log-in-box button {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 20px;

}

.log-in-button:hover {
    cursor: pointer;
}

.log-in-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: grey;
}

.splash-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}

header, main, footer, .console-section, .feed-section, .player-section, .filter-section {
    border: 1px solid black;
}

main, header, footer {
    padding: 20px 40px;
}

main {
    display: grid;
    grid-template-columns: 3fr 6fr;
    height: 100%;
    overflow: auto;
}

.player-section {
    display: grid;
    grid-template-rows: 1fr 8fr;
    overflow: auto;
}

.feed-section {
    overflow: auto;    
    padding: 20px 50px;
}

.console-section {
    overflow: auto;
}

.filter-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.track-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}



.feed-section figure {
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    margin-bottom: 20px;
    padding: 20px 20px;
}

.feed-section figcaption {
    color: white;
}

.audio-player {
    margin: 30px auto;
    width: 80%;
}

.option-btn {
  height: 25px;
  width: 25px;
  margin-right: 15px;
  cursor: pointer;
}

.filter-btn {
    border: 3px solid grey;
    margin: 5px;
    text-align: center;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 10px auto;
}

.filter-btn {
    cursor: pointer;
}

.filter-btn:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

.filter-btn:active {
    cursor: pointer;
    color: white;
    background-color: black;
    border: 3px solid black;
}

.header-logo {
    width: 40px;
}

.splash-logo {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.user-track-figure {

}

.user-tracks-section {
    height: 30%;
    overflow: auto;
    border: 3px solid rgb(173, 155, 170);
}

.user-track-figure figcaption {
    font-size: 0.75em;
}

.user-track-figure audio {
    height: 1em;
    width: 100%;
}

.user-track-div {
    height: 1.5em;
}

.preloader {
    width: 64px;
}

.open-upload-btn {
    border: 3px solid grey;
    border-radius: 4px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.open-upload-btn:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

.hidden {
    display: none;
}

.membership, .open-upload-btn, .upload-form, .edit-form {
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
}

.upload-menu, .edit-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  margin-left: -250px;
  /* top: 0;
  left: 0; */
  transition: ease-in-out 0.14s;
  background-color: rgba(0, 0, 0, 0.685);
  color: black;
  /* position: absolute; */
}

legend {
    color: white;
}

.edit-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  margin-left: -250px;
  /* top: 0;
  left: 0; */
  background-color: mistyrose;
}


/* palette https://coolors.co/627264-a1cda8-b5dfca-c5e7e2-ad9baa */


