@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=PT+Sans:wght@700&family=Roboto:wght@500&family=Yomogi&display=swap');

* {
    color: black;
    font-family: 'PT Sans', sans-serif;
}

/* scrollbar styling */

.feed-section::-webkit-scrollbar, .user-tracks-section::-webkit-scrollbar {
    width: 0.4em;
}
 
.feed-section::-webkit-scrollbar-track, .user-tracks-section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.feed-section::-webkit-scrollbar-thumb, .user-tracks-section::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* option button animations */

.option-btn:hover{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body {
    height: 100vh;
    background-color: #3e3e3e;
}

.app-container {
    display: none;
    height: 100%;
    grid-template-rows: 1fr 15fr 1fr;
    background-color: #3e3e3e;
    transition: 0.3s;
}

.log-in-box {
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

.log-in-box input, .log-in-box button {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 20px;

}

.log-in-button:hover {
    cursor: pointer;
}

.log-in-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: grey;
}

.splash-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}

header {
    border-bottom: 2px solid black;
}

main, header {
    padding: 20px 40px;
}

main {
    display: grid;
    grid-template-columns:min-content 1fr;
    height: 100%;
    overflow: auto;
}

.console-section {
    width: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.console-section * {
  color: white;
}

.user-track-div button {
  color: black;
}

.open-upload-btn {
  margin-left: 0px;
  margin-right: 0px;
}

.player-section {
    min-width: 750px;
    border-left: 3px solid black;
    padding-left: 35px; 
    display: grid;
    grid-template-rows: 1fr 8fr;
    overflow: auto;
}

.filter-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.feed-section {
    overflow: auto;    
    padding: 20px 50px;
}


.feed-section figure {
  border-radius: 10px;
  background-color: grey;
  margin-bottom: 20px;
  padding: 10px;
}

.feed-section figcaption {
  color: white;
}

.filter-btn {
    min-width: 100px;
    border: 3px solid grey;
    margin: 5px;
    text-align: center;
    border-radius: 4px;
    background-color: white;
    color: grey;
    padding: 10px auto;
}

.filter-btn:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

.filter-btn:active {
    cursor: pointer;
    color: white;
    background-color: black;
    border: 3px solid black;
}

.header-logo {
    width: 40px;
}

.splash-logo {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.track-div {
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.audio-player {
    margin: 30px auto;
    width: 80%;
}

.option-div {
    display: flex;
    text-align: center;
    border-left: 3px solid #3e3e3e;
}

.option-btn {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.user-tracks-section {
    height: 40%;
    margin: 0;
    overflow: auto;
}

.user-track-figure {
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.308);
  margin-right: 20px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 9fr 1fr;
}

.user-track-figure figcaption {
    font-size: 0.75em;
}

.user-track-figure audio {
    height: 1em;
    width: 100%;
}

.user-track-div {
    margin: 10px;
    height: 1.5em;
}


.open-upload-btn {
    border: 3px solid black;
    border-radius: 4px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.open-upload-btn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.hidden {
    display: none;
}

.membership, .open-upload-btn, .upload-form, .edit-form {
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    /* margin: 0 auto; */
}

.upload-menu, .edit-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  margin-left: -250px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.685);
  color: black;
}

legend {
    color: white;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset > button:hover, .close-upload-btn:hover {
    background-color:black;
    color: white
}

form {
    padding-top: 40px;
}

legend {
    margin: 20px 20px;
}

input, select, button {
    width: 80%;
    margin: 20px 20px;

}

.upload-input {
    color: white;

}

.app-title {
    color: white;
}


.loading-display {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin-left: 250px;
  transition: 0.3s;
}

.preloader {
  width: 64px;
}

.track-figure {
  text-align: center;
}

.track-figure figcaption {
  text-align: left;
  margin-bottom: 15px;
}

.track-figure img {
  height: 50px;
  width: 90%;
  margin: 0 auto;
}

.player-footer {
  border-top: 2px solid black;
  text-align: center;
  background-color: lightgrey;
}

.copyright-footer {
  height: 20px;
  padding: 0;

}

.copyright-text {
    color: grey;
}

.log-in-form {
    padding-top: 0;
}

.username-input, .password-input, .log-in-button {
    margin: 10px auto;
    width: 100%;
}
.log-in-button:hover {
    background-color: darkgrey;
}

button:hover {
    cursor: pointer;
}